<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string></string>
	<key>contactName</key>
	<string>constantin</string>
	<key>description</key>
	<string>New shiny bundle for X.</string>
	<key>name</key>
	<string>AI-Script</string>
	<key>uuid</key>
	<string>13A26D90-7940-48E2-B605-8243D423351E</string>
</dict>
</plist>
